.BackgraundBanner {
    width: 100vw;
    height: 803px;
    position: absolute;
    background-image: url(../../images/background/дом\ лендос\ 1.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}